<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <h1>Result ..</h1>
    <a href="/">Home</a>
    <div class="result" id="result">
        <a href="">{{place}}</a>
        <a href="">{{place1}}</a>
        <a href="">{{place2}}</a>
        <a href="">{{place3}}</a>
        <a href="">{{place4}}</a>
        <a href="">{{place5}}</a>
        <a href="">{{place6}}</a>
        <a href="">{{place7}}</a>
        <a href="">{{place8}}</a>
        <a href="">{{place9}}</a>   
    </div>
    </div>
    <script src="/googlemap.js"></script>
    
</body>
</html>