<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <h1>Result ..</h1>
       <a href="/">Home</a>
       <div class="result">
         <p>{{place}}</p>
    <p>{{place1}}</p>
    <p>{{place2}}</p>
    <p>{{place3}}</p>
    <p>{{place4}}</p>
    <p>{{place5}}</p>
    <p>{{place6}}</p>
    <p>{{place7}}</p>
    <p>{{place8}}</p>
    <p>{{place9}}</p>   
       </div>
    
    </div>
    
    
</body>
</html>